@charset "UTF-8";
/* 초기화  */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Noto Sans KR Light', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    border: 0;
}

/* header */
#header .inner {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

#header h1 {
    padding-top: 10px;
}

#header #main_gnb {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 55px;
}

#header #main_gnb ul {
    overflow: hidden;
}

#header #main_gnb ul li {
    float: left;
    padding: 0 0 0 30px;
}

#header #main_lnb {
    position: absolute;
    top: 0;
    right: 0;
}

#header #main_lnb ul {
    overflow: hidden;
    padding-top: 12px;
}

#header #main_lnb ul li {
    float: left;
    padding: 0 0 0 15px;
}

/* footer */
#footer {
    background-color: rgb(231, 231, 231);
}

#footer .f_wrap {
    display: flex;
    margin: 0 auto;
    width: 1024px;
    padding: 50px 0;
}

#footer .footer1 {
    width: 40%;
}

#footer .footer1 p:first-child {
    font-size: 1.3em;
}

#footer .footer1 p:last-child {
    font-size: 1.8em;
}

#footer .footer2 {

}

#footer .footer2 ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#footer .footer2 ul li {
    padding-right: 15px;
}

#footer .footer2 .address {
    margin-top: 30px;
}

#footer .footer2 address {
    font-style: unset;
}

#footer .footer2 .copyright {
    margin-top: 30px;
}

#footer .footer3 {
    width: 40%;
}

#footer .footer3 span {
    /* font-size: 1.2em; */
    padding-right: 10px;
}

#footer .footer3 ul {
    overflow: hidden;
    display: inline-block;
    height: auto;
    vertical-align: top;
    float: right;
}

#footer .footer3 ul li {
    float: left;
    padding-right: 10px;
}