@charset "UTF-8";

main {
    width: 1024px;
}

/* section01 */
#section01 {
    margin-bottom: 90px;
}
#section01 img {
    width: 100%; 
}
#section01 article {
    width: 100%;
    height: 100px;
    background: brown;
}
/* section02 */
#section02  {
    width: 1024px;
    margin: 0 auto;
}

#section02 h2 {
    text-align: center;
}
#section02 ul {
    width: 100%;
    overflow: hidden;
}
#section02 ul li {
    float: left;
}
/* section03 */
#section03 {

}
/* section04 */
#section04 {

}