@charset "UTF-8";
/* section01 */
#section01 {
    padding-top: 110px;
    margin-bottom: 100px;
}

#section01 .notify {
    width: 100%;
    height: 700px;
    background: url("../images/section01.jpg") no-repeat; 
    background-size: cover;
    background-position: center;
}

#section01 article {
    width: 100%;
    height: 70px;
    background: #3B0B17;
    color: #fff;
    line-height: 70px;
    text-align: center;
}

#section01 article div {
    display: inline-block;
}

#section01 article div:first-child {
    margin-right: 80px;
}

#section01 article span:first-child {
    padding-right: 50px;
}

/* section02 */
#section02 {
    width: 1440px;
    margin: 0 auto 100px;
}

#section02 h2 {
    text-align: center;
    margin-bottom: 20px;
}

#section02 ul {
    overflow: hidden;
    width: 100%;
    height: auto;
}

#section02 ul li {
    float: left;
    width: 50%;
}

#section02 ul li img {
    width: 100%;
}

#section02 ul li p {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
}

/* section03 */
#section03 {
    width: 100%;
    height: auto;
    background: url("../images/intro_bg_pc.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

#section03 .brand_info {
    padding: 100px;
    width: 50%;
    margin-right: 0;
    margin-left: 700px;
    color: #3B0B17;   
}

#section03 .brand_info p:nth-child(1) {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 15px;
}

#section03 .brand_info p:nth-child(2) img {
    max-width: 100%;
    margin-bottom: 30px;
}

#section03 .brand_info p:nth-child(3) {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 50px;
}

#section03 .brand_info_box .info_box1_wrap {
    display: inline-block;
    width: 33%;
}

#section03 .brand_info_box .info_box1 {
    display: inline-block;
    width: 33%;
    border: 1px solid #3B0B17;
    background-color: #3B0B17;
}

#section03 .brand_info_box .info_box2_wrap {
    display: inline-block;
    width: 33%;
}

#section03 .brand_info_box .info_box2 {
    display: inline-block;
    width: 33%;
    border: 1px solid #3B0B17;
}

#section03 .brand_info_box .info_box3_wrap {
    display: inline-block;
    width: 33%;
}

#section03 .brand_info_box .info_box3 {
    display: inline-block;
    width: 33%;
    border: 1px solid #3B0B17;
}



/* section04 */
#section04 {
    width: 1440px;
    margin: 0 auto 100px;
}

#section04 h2 {
    text-align: center;
    margin-bottom: 10px;
}

#section04 ul {
    overflow: hidden;
    width: 100%;
    height: auto;

}

#section04 ul li {
    float: left;
    width: 33%;
}

#section04 ul li img {
    width: 100%;
}

#section04 ul li p {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
}

/* section05 */
#section05 {
    width: 1440px;
    margin: 0 auto 100px;
}

#section05 h2 {
    text-align: center;
    margin-bottom: 10px;
}

#section05 ul {
    overflow: hidden;
    width: 100%;
}

#section05 ul li {
    float: left;
    width: 20%;
}


#section05 ul li img {
    width: 100%;
}
