@charset "UTF-8";
#section01 {
    position: relative;
    max-width: 1024px;
    margin: 0 auto 140px;
}

#section01 .exBox {
    margin-top: 125px;
    width: 100%;
}

#section01 .exBox figure img {
    width: 100%;
}

#section01 .exInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    padding: 65px 70px;
}

#section01 .exInfo .artist {
    display: block;
    font-size: 1.2em;
    letter-spacing: 2px;
}

#section01 .exInfo .title {
    display: block;
    font-size: 2.5em;
    /* letter-spacing: 3px; */
    padding-bottom: 15px;
    padding-left: 0px;
    font-weight: 600;
} 

#section01 .exInfo .date {
    display: block;
    font-size: 0.8em;
    letter-spacing: 2px;
} 

/* section02 */
#section02 {
    max-width: 1024px;
    margin: 0 auto 140px;
}

#section02 .exNews ul {
    overflow: hidden;
}

#section02 .exNews ul li {
    float: left;
    width: calc(33.3% - 30px);
    padding-right: 30px;
}

#section02 .exNews ul li:nth-child(1) {
    padding-left: 15px;
}

#section02 .exNews ul li:nth-child(3) {
    padding: 0;
}

#section02 .exNews ul li img {
    width: 100%;
}

#section02 .exNews ul li span.news {
    display: block;
    padding: 5px 0;
}

#section02 .exNews ul li span.title {
    display: block;
    font-size: 1.3em;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

/* section03 */
#section03 {
    position: relative;
    max-width: 1024px;
    margin: 0 auto 140px;
    padding: 0 15px;
}

#section03 a {
    display: table;
    width: 100%;
}

#section03 figure > img {
    width: 100%;
    height: auto;
}

#section03 .essayInfo {
    display: table-cell;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

#section03 .essayInfo span:nth-child(1) {
    display: block;
    margin-bottom: 41px;
    color: #666;
    letter-spacing: 0.2em;
}

#section03 .essayInfo span:nth-child(2) {
    display: block;
    margin-bottom: 45px;
    color: #222;
    font-size: 2.5em;
}

#section03 .essayInfo span:nth-child(3) {
    display: block;
    overflow: hidden;
    max-width: 380px;
    margin: 0 auto;
    max-height: 10em;
    color: #666;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

/* section04 */
#section04 {
    display: block;
}

#section04 .post {
    max-width: 1024px;
    margin: 0 auto ;
    padding: 0 0 0 20px;
}

#section04 .post ul {
    overflow: hidden;
}

#section04 .post ul li {
    float: left;
    width: 25%;
    padding-right: 15px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

#section04 .post ul li figure {
    margin-bottom: 10px;
}

#section04 .post ul li figure img {
    width: 100%;
}

#section04 .post ul li .category {
    display: block;
    font-size: 0.8em;
    color: #666;
    letter-spacing: 0.07em;
}

#section04 .post ul li .artist {
    display: block;
    max-width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.2em;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

#section04 .post ul li .ex {
    display: block;
    margin: 2px 0 2px;
    color: #666;
    font-size: 0.8em;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; /* 라인수 */ 
    -webkit-box-orient: vertical; 
}

#section04 .more {
    margin-bottom: 120px;
    margin-top: 70px;
}

#section04 .more a {
    display: block;
    position: relative;
    width: 200px;
    border: 1px solid #d6d6d6;
    padding: 21px 24px 19px;
    font-weight: 300;
    color: #666;
    box-sizing: border-box;
    margin: 0 auto;
}

/* 미디어쿼리 */
@media screen and (max-width: 767px) {
    #section01 {
        overflow: hidden;
        max-width: 1024px;
        margin: 0 auto 80px;
    }
    
    #section01 figure {
        height: 900px;
    }
    #section01 img {
        padding-top: 0px;
        width: 100%;
        height: 100%;
    }
    
    #section01 .exInfo {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 60px 60px;
    }

    #section01 .exInfo .artist {
        display: block;
        font-size: 1.2em;
        letter-spacing: 2px;
    }
    
    #section01 .exInfo .title {
        display: block;
        font-size: 3em;
        padding-bottom: 8px;
        font-weight: 600;
    } 
    
    #section01 .exInfo .date {
        display: block;
        font-size: 1.3em;
        letter-spacing: 2px;
    } 

    #section01 .exBox {
        margin: 0;
    }

    #section02 {
        margin-bottom: 80px;
    }

    #section02 .exNews ul {
        overflow: hidden;
        
    }
    
    #section02 .exNews ul li {
        float: left;
        width: 95%;
        padding-right: 0px;
    }

    #section02 .exNews ul li:nth-child(1) {
        padding-left: 15px;
    }

    #section02 .exNews ul li figure {
        width: 100%;
    }

    #section02 .exNews li:nth-child(2) {
        display: none;
    }

    #section02 .exNews li:nth-child(3) {
        display: none;
    }

    #section02 ul li span.news {
        font-size: 0.8em;
    }

    #section02 ul li span.title {
        font-size: 0.85em;
    }
    /* section03 */
    #section03 a {
        display: block;
        width: 100%;
    }
    
    #section03 .essayInfo {
        width: 1024px;
        margin: 0 auto;
    }
    #section03 .essayInfo span:nth-child(1) {
        display: block;
        margin-bottom: 30px;
        color: #666;
        letter-spacing: 0.2em;
    }
    
    #section03 .essayInfo span:nth-child(2) {
        display: block;
        margin-bottom: 41px;
        color: #222;
        font-size: 2.5em;
    }
    
    #section03 .essayInfo span:nth-child(3) {
        display: block;
        overflow: hidden;
        max-width: 380px;
        margin: 0 auto;
        max-height: 10em;
        color: #666;
        font-size: 1em;
        letter-spacing: 0.02em;
    }
    
    #section04 .post {
        padding-right: 0px;
    }

    #section04 .post ul li {
        width: 50%;
        padding-right: 15px;
    }

    #section04 .post ul li figure {
        margin-bottom: 5px;
    }

    #section04 .post ul li .category {
        max-width: 100%;
    }
    #section04 .post ul li .artist {
        display: block;
        padding-bottom: 5px;
        margin: 4px 0 0;
        font-size: 1em;
    }

    #section04 .post ul li .ex {
        display: block;
        margin: 0 0 0;
        color: #666;
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #section04 .more {
        margin-bottom: 80px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #section01 {
        overflow: hidden;
        max-width: 1024px;
    }
    
    #section01 figure {
        height: 750px;
    }
    #section01 img {
        height: 100%;
    }

    #section01 .exInfo {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 55px 50px;
    }

    #section01 .exInfo .artist {
        display: block;
        font-size: 1.4em;
        letter-spacing: 2px;
    }
    
    #section01 .exInfo .title {
        display: block;
        font-size: 3em;
        padding-bottom: 15px;
        font-weight: 600;
    } 
    
    #section01 .exInfo .date {
        display: block;
        font-size: 1em;
        letter-spacing: 2px;
    } 

    #section01 .exBox {
        margin: 0;
    }

    #section03 a {
        display: block;
    }
    #section03 .essayInfo {
        width: 1024px;
        margin: 0 auto;
    }

    #section03 .essayInfo span:nth-child(1) {
        display: block;
        margin-bottom: 30px;
        color: #666;
        letter-spacing: 0.2em;
    }
    
    #section03 .essayInfo span:nth-child(2) {
        display: block;
        margin-bottom: 41px;
        color: #222;
        font-size: 2.5em;
    }
    
    #section03 .essayInfo span:nth-child(3) {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        max-height: 10em;
        color: #666;
        font-size: 1em;
        letter-spacing: 0.06em;
    }

    #section04 .post ul li {
        width: 50%;
        padding-right: 15px;
    }
    #section04 .post {
        padding-right: 0px;
    }
    #section04 .post {
        padding-right: 0px;
    }

    #section04 .post ul li {
        width: 50%;
        padding-right: 15px;
    }

    #section04 .post ul li figure {
        margin-bottom: 5px;
    }

    #section04 .post ul li .artist {
        display: block;
        padding-bottom: 5px;
        margin: 4px 0 0;
        font-size: 1em;
    }

    #section04 .post ul li .ex {
        display: block;
        margin: 0 0 0;
        color: #666;
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
    #section04 .more {
        margin-top: 30px;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 1024px) {
}

/* 이미지 비율 유지 확대 */