<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPC삼립</title>
</head>
<body>
    <header>
        <h1>SPC SAMLIP</h1>
        <nav>
            <ul>
                <li><a href="#">COMPANY</a></li>
                <li><a href="#">BRAND</a></li>
                <li><a href="#">IR</a></li>
                <li><a href="#">SNS</a></li>
                <li><a href="#">RECRUIT</a></li>
            </ul>
        </nav>
        <div>
            <img src="" alt="" />
        </div>
    </header>
    
    <section id="section01">
        <div>
            <ul>
                <li>
                    <img src="" alt="" />
                    <p>Good Bread</p>
                    <p>좋은 음식과 서비스를 통해 더 가치있고 <br />건강한 삶을 만들어나갑니다</p>
                </li>
                <li>
                    <img src="" alt="" />
                    <p>Good Bread</p>
                    <p>좋은 음식과 서비스를 통해 더 가치있고 <br />건강한 삶을 만들어나갑니다</p>
                </li>
                <li>
                    <img src="" alt="" />
                    <p>Good Bread</p>
                    <p>좋은 음식과 서비스를 통해 더 가치있고 <br />건강한 삶을 만들어나갑니다</p>
                </li>
                <li>
                    <img src="" alt="" />
                    <p>Good Bread</p>
                    <p>좋은 음식과 서비스를 통해 더 가치있고 <br />건강한 삶을 만들어나갑니다</p>
                </li>
                <li>
                    <img src="" alt="" />
                    <p>Good Bread</p>
                    <p>좋은 음식과 서비스를 통해 더 가치있고 <br />건강한 삶을 만들어나갑니다</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="section02">
        <div>
            <h1>News & Notice</h1>
            <p>언제나 행복한 기업, SPC삼립의 새로운 소식</p>
        </div>
        <div>
            ul
        </div>
    </section>
</body>
</html>