<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러리현대</title>
    <link rel="stylesheet" href="./갤러리현대.css">
</head>

<body>
    <header id="header">
        <h1>GALLERYHYUNDAI</h1>
        <nav class="main_gnb">
            <ul>
                <li><a href="#">Artists</a></li>
                <li><a href="#">Exhibitions</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="section01">
            <div class="main_ex">
                <div class="ex">
                    <p>Briefly Gorgeous</p>
                    <p>Kang Seung Lee</p>
                    <p>November 17 - December 31, 2021</p>
                </div>
            </div>
        </section>

        <section id="section02">
            <div class="main_news">
                <ul>
                    <li>
                        <a href="#">
                            <img src="" alt="" />
                            <p>News</p>
                            <p>Kang Seung Lee 이강승 : the 5th New Museum Triennial</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="" alt="" />
                            <p>News</p>
                            <p>Kang Seung Lee 이강승 : the 5th New Museum Triennial</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="" alt="" />
                            <p>News</p>
                            <p>Kang Seung Lee 이강승 : the 5th New Museum Triennial</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section id="section03">
            <div class="essay">
                <a href="#">
                    <img src="" alt="" />
                    <div class="essay_p">
                        <p>Essays</p>
                        <p>List of songs for Briefly<br /> Gorgeous</p>
                        <p>
                            Playlists by Dew Kim, Jungle, Lee Jungsik,<br />
                            Minihan, Young-jun Tak, Jaseok Kim, Haneyl<br />
                            Choi, byul.org
                        </p>
                    </div>
                </a>

            </div>
        </section>

        <section id="section04">
            <div class="video">
                <ul>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <video src=""></video>
                            <p>Video</p>
                            <p>Lee Kun-Yong 이건용 : Bodyscape</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="more">
                <a href="#">Lead More</a>
            </div>
        </section>
    </main>

    <footer id="footer">
        <div>
            <ul>
                <li><a href="#"><img src="" alt="">INSTAGRAM</a></li>
                <li><a href="#"><img src="" alt="">FACEBOOK</a></li>
                <li><a href="#"><img src="" alt="">TWITTER</a></li>
                <li><a href="#"><img src="" alt="">YOUTUBE</a></li>
                <li><a href="#"><img src="" alt="">NEWSLETTER</a></li>
            </ul>
        </div>
        <div>
            <address>
                14 Samcheong-ro, Jongno-gu, Seoul 03062 Korea<br /> Gallery Hyundai - All rights reserved 2020
            </address>
        </div>
    </footer>

</body>

</html>