@charset "UTF-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    border: 0;
}

/* header */
#header {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;
}

#header h1 {
    padding: 30px 0;
}

#header .main_gnb {
    position: absolute;
    right: 0;
    top: 10px;
}

#header .main_gnb ul li {
    display: inline-block;
    padding: 30px 20px; 
}

/* main */
#section01 {
    background-color: rgb(131, 129, 119);
    width: 1200px;
    margin: 0 auto;
    height: 400px;
}

#section01 .main_ex {
    padding: 230px 30px;
}

#section01 .ex p {
    padding: 10px;
}

#section01 .ex p:nth-child(1) {
    font-size: 20px;
}

#section01 .ex p:nth-child(2) {
    font-size: 40px;
}

#section01 .ex p:nth-child(3) {
    font-size: 15px;
}

#section02 {
    margin: 80px 0;
}

#section02 .main_news {
    width: 1200px;
    margin: 0 auto;
}



#section02 .main_news ul li {
    background-color: lightgray;
    display: inline-block;
    width: 31.4%;
    margin: 0 10px;
}

#section02 .main_news ul li p {
    font-size: 20px;
}

#section02 .main_news ul li p:last-child {
    font-size: 25px;
}

#section03 {
    width: 1200px;
    margin: 0 auto;
    height: 900px;
    margin-bottom: 80px;
}

#section03 img {
    background:lightslategray;
    width: 700px;
    height: 900px;
    float: left;
}

#section03 .essay .essay_p {
    float: right;
    text-align: center;
    padding: 360px 0;
    font-size: 25px;
}

#section04 {
    width: 1200px;
    margin: 0 auto;
    height: 800px;
}

#section04 .video ul li {
    
    display: inline-block;
    width: 200px;
    padding: 30px 45px;
    
}

#section04 .video ul li p:first-of-type {
    font-size: 15px;
    padding: 10px 0;
}

#section04 .video ul li p:last-of-type {
    font-size: 20px;
}

#section04 .more {
    border: 1px solid lightgray;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 80px;
}

#section04 .more a {
    padding: 30px; 
}


/* footer */
#footer {

}