@charset "UTF-8";
/* main */
#section01 {
    background-color: rgb(131, 129, 119);
    margin: 0 auto;
    height: 840px;
    margin-bottom: 80px;
}

#section01 .main_ex {
    position: relative;
}

#section01 .ex p:nth-child(1) {
    font-size: 15px;
}

#section01 .ex p:nth-child(2) {
    font-size: 40px;
    padding-bottom: 10px;
}

#section01 .ex p:nth-child(3) {
    font-size: 15px;
}

#section02 {
    overflow: hidden;
    margin-bottom: 80px;
}

#section02 .main_news {
    float: left;
    width: 400px;
}

#section02 .main_news ul li {
    
    background-color: lightgray;
    display: inline-block;
}

#section02 .main_news ul li p {
    font-size: 20px;
}

#section02 .main_news ul li p:last-child {
    font-size: 25px;
}

/* section03 */
#section03 {
    margin-bottom: 80px;
}

#section04 {
    height: 800px;
}

#section04 .video {
    overflow: hidden;
}

#section04 .video ul li {
    float: left;
    width: 200px;
    padding: 30px 45px;
    
}

#section04 .video ul li p:nth-of-type(1) {
    font-size: 13px;
    padding: 10px 0;
}

#section04 .video ul li p:nth-of-type(2) {
    font-size: 14px;
}

#section04 .video ul li p:nth-of-type(3) {
    padding-top: 10px;
    font-size: 10px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#section04 .more {
    border: 1px solid lightgray;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 45px;
}

#section04 .more > a > div {
    padding: 0 20px;
}


@media screen and (max-width: 767px) {
    #section01 .ex p:nth-child(1) {
        font-size: 13px;
    }
    
    #section01 .ex p:nth-child(2) {
        font-size: 28px;
        padding-bottom: 8px;
    }
    
    #section01 .ex p:nth-child(3) {
        font-size: 13px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    #section01 .ex p:nth-child(1) {
        font-size: 15px;
    }
    
    #section01 .ex p:nth-child(2) {
        font-size: 28px;
        padding-bottom: 10px;
    }
    
    #section01 .ex p:nth-child(3) {
        font-size: 15px;
    }


    #section04 {
        height: 1600px;
    }
    
    #section04 .video {
        overflow: hidden;
        width: 100%;
        margin: 0 atuo;
        
    }
    
    #section04 .video ul li {
        float: left;
        width: 200px;
        padding: 30px 45px;
        
    }
    
    #section04 .video ul li p:nth-of-type(1) {
        font-size: 13px;
        padding: 10px 0;
    }
    
    #section04 .video ul li p:nth-of-type(2) {
        font-size: 14px;
    }
    
    #section04 .video ul li p:nth-of-type(3) {
        padding-top: 10px;
        font-size: 10px;
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    #section04 .more {
        border: 1px solid lightgray;
        width: 200px;
        margin: 0 auto;
        height: 50px;
        line-height: 50px;
        margin-top: 45px;
    }
    
    #section04 .more > a > div {
        padding: 0 20px;
    }
    
}


@media screen and (min-width: 1024px) {
}